.bg-title {
  background-color: #00162A;
}

.button-green {
  background-color: #00BE21;
  border: #797979;
  color: #fff;
}

.button-blue {
  background-color: #75B1FF;
  border: #797979;
  color: #fff;
}